@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

$orange : #FD7900;

.container{
  max-width: 1200px;
  padding: 0 20px;
  margin:  0 auto;
}

.header{
  padding-bottom: 80px;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__map{
    display: flex;
    column-gap: 15px;
    &-title{
      font-weight: 500;
      font-size: 14px;
      color: #4D4D4D;
      margin-bottom: 5px;
    }
    &-link{
      font-weight: 500;
      font-size: 16px;
      color: $orange;
      text-decoration: underline dashed;
      text-underline-offset: 10px;
    }
  }
  &__right{
    display: flex;
    column-gap: 22px;
  }
  &__question{
    font-weight: 500;
    font-size: 14px;
    color: #4C4C4C;
    margin-bottom: 5px;
  }
  &__whatsapp{
    text-align: right;
    a{
      font-weight: 700;
      font-size: 16px;
      color: #000000;
    }
  }
  &__number{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    color: #000000;
  }
  &__time{
    font-weight: 500;
    font-size: 14px;
    color: #4C4C4C;

  }
}


@import "gallery";
@import "example";
@import "ovelay";